{% extends 'base.html' %} 

{% block content %}

<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
  <div class="card p-4">
      <h3 class="text-center mb-4">{{ title }}</h3>
      <form method="post" class="px-2 pt-2 pb-3 mb-3">
          {% csrf_token %}

          <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" class="form-control" id="amount" name="amount" required placeholder="Enter amount">
              {% if form.amount.errors %}
                  {% for error in form.amount.errors %}
                      <p class="text-danger text-sm italic pb-2">{{ error }}</p>
                  {% endfor %}
              {% endif %}
          </div>

          <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
  </div>
</div>

    
{% endblock %}